@use 'styles' as styles;

.text-input label {
  display: block;
  margin-bottom: styles.$extra-small;
  color: styles.$text-muted;
  font-size: styles.$size-small;
  font-weight: 700;
}

.text-input input {
  display: block;
  width: 100%;
  padding: styles.$medium;
  border: styles.$border-width styles.$border-style styles.$border-input;
  border-radius: styles.$radius-small;
  outline: 0;
  background: styles.$surface;
  color: styles.$text-dark;
}

.text-input input:focus {
  border-color: styles.$primary;
}
