@use 'styles' as styles;

.movement-card {
  display: flex;
  align-items: center;
  gap: styles.$medium;
  padding: styles.$medium;
  background: styles.$surface;
  border: styles.$border-width styles.$border-style styles.$border-soft;
  border-radius: styles.$radius-medium;
}
.movement-card-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  flex-shrink: 0;
  place-items: center;
  border-radius: styles.$radius-medium;
  background: styles.$food-background;
  font-size: styles.$size-large;
}
.movement-card-icon.home-icon {
  background: styles.$primary-light;
  color: styles.$primary;
  font-size: 1.5rem;
}
.movement-card-icon.salary {
  background: styles.$positive-background;
  color: styles.$positive;
  font-size: 1.25rem;
}
.movement-card-content {
  min-width: 0;
  flex: 1;
}
.movement-card-content strong,
.movement-card-content small {
  display: block;
}
.movement-card-content small {
  margin-top: styles.$extra-small;
  color: styles.$text-soft;
  font-size: styles.$size-small;
}
.movement-card b {
  flex-shrink: 0;
}
.movement-card .positive {
  color: styles.$positive;
}
.movement-card .negative {
  color: styles.$negative;
}
