.movement-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 0;
  border-bottom: 1px solid #f0f0f5;
}
.movement-item:last-child {
  border-bottom: 0;
}
.movement-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  background: #fff1df;
  font-size: 1.125rem;
}
.movement-icon.home-icon {
  background: #e9e7ff;
  color: #6559ee;
  font-size: 1.5rem;
}
.movement-icon.salary {
  background: #e0f8ec;
  color: #16a267;
  font-size: 1.25rem;
}
.movement-item-content {
  flex: 1;
}
.movement-item strong,
.movement-item small {
  display: block;
}
.movement-item strong {
  font-size: 0.875rem;
}
.movement-item small {
  margin-top: 0.25rem;
  color: #989aa8;
  font-size: 0.75rem;
}
.movement-item b {
  font-size: 0.875rem;
}
.movement-item .positive {
  color: #16a267;
}
.movement-item .negative {
  color: #ed6e77;
}
