@use 'styles' as styles;

.movement-item {
  display: flex;
  align-items: center;
  gap: styles.$medium;
  padding: styles.$large 0;
  border-bottom: styles.$border-width styles.$border-style styles.$border;
}
.movement-item:last-child {
  border-bottom: 0;
}
.movement-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  background: styles.$food-background;
  font-size: styles.$size-large;
}
.movement-icon.home-icon {
  background: styles.$primary-light;
  color: styles.$primary;
  font-size: 1.5rem;
}
.movement-icon.salary {
  background: styles.$positive-background;
  color: styles.$positive;
  font-size: 1.25rem;
}
.movement-item-content {
  flex: 1;
}
.movement-item strong,
.movement-item small {
  display: block;
}
.movement-item strong {
  font-size: styles.$size-regular;
}
.movement-item small {
  margin-top: styles.$extra-small;
  color: styles.$text-soft;
  font-size: styles.$size-small;
}
.movement-item b {
  font-size: styles.$size-regular;
}
.movement-item .positive {
  color: styles.$positive;
}
.movement-item .negative {
  color: styles.$negative;
}
