@use '../../../../styles/colors' as colors;
@use '../../../../styles/radius' as radius;
@use '../../../../styles/spacing' as spacing;
@use '../../../../styles/typography' as typography;

.movement-item {
  display: flex;
  align-items: center;
  gap: spacing.$medium;
  padding: spacing.$large 0;
  border-bottom: 1px solid colors.$border;
}
.movement-item:last-child {
  border-bottom: 0;
}
.movement-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  background: colors.$food-background;
  font-size: typography.$size-large;
}
.movement-icon.home-icon {
  background: colors.$primary-light;
  color: colors.$primary;
  font-size: 1.5rem;
}
.movement-icon.salary {
  background: colors.$positive-background;
  color: colors.$positive;
  font-size: 1.25rem;
}
.movement-item-content {
  flex: 1;
}
.movement-item strong,
.movement-item small {
  display: block;
}
.movement-item strong {
  font-size: typography.$size-regular;
}
.movement-item small {
  margin-top: spacing.$extra-small;
  color: colors.$text-soft;
  font-size: typography.$size-small;
}
.movement-item b {
  font-size: typography.$size-regular;
}
.movement-item .positive {
  color: colors.$positive;
}
.movement-item .negative {
  color: colors.$negative;
}
