.placeholder-page {
  padding-top: 1.25rem;
}
.placeholder-page h2 {
  font-size: 2.25rem;
  letter-spacing: -0.05em;
  margin: 0.5rem 0;
  text-transform: capitalize;
}
.placeholder-page p {
  color: #858797;
}
