@use 'styles' as styles;

.placeholder-page {
  padding-top: styles.$large;
}
.placeholder-page h2 {
  font-size: styles.$size-heading;
  letter-spacing: -0.05em;
  margin: styles.$small 0;
  text-transform: capitalize;
}
.placeholder-page p {
  color: styles.$text-muted;
}
