@use '../../styles/colors' as colors;
@use '../../styles/spacing' as spacing;
@use '../../styles/typography' as typography;

.placeholder-page {
  padding-top: spacing.$large;
}
.placeholder-page h2 {
  font-size: typography.$size-heading;
  letter-spacing: -0.05em;
  margin: spacing.$small 0;
  text-transform: capitalize;
}
.placeholder-page p {
  color: colors.$text-muted;
}
