@use 'styles' as styles;

.movements-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: styles.$double-large;
}

@media (max-width: 44rem) {
  .movements-header {
    align-items: flex-start;
  }
}
