@use 'styles' as styles;

.currency-input label {
  display: block;
  margin-bottom: styles.$extra-small;
  color: styles.$text-muted;
  font-size: styles.$size-small;
  font-weight: 700;
}

.currency-input-control {
  position: relative;
}

.currency-input-control input {
  display: block;
  width: 100%;
  padding: styles.$medium 2.5rem styles.$medium styles.$medium;
  border: styles.$border-width styles.$border-style styles.$border-input;
  border-radius: styles.$radius-small;
  outline: 0;
  background: styles.$surface;
  color: styles.$text-dark;
}

.currency-input-control input:focus {
  border-color: styles.$primary;
}

.currency-input-control span {
  position: absolute;
  top: 50%;
  right: styles.$medium;
  color: styles.$text-muted;
  font-size: styles.$size-regular;
  pointer-events: none;
  transform: translateY(-50%);
}
