@use 'styles' as styles;

.movements-filters {
  display: flex;
  gap: styles.$medium;
  padding: styles.$double-large;
  margin-bottom: styles.$large;
  background: styles.$surface;
  border: styles.$border-width styles.$border-style styles.$border;
  border-radius: styles.$radius-large;
}

@media (max-width: 44rem) {
  .movements-filters {
    gap: styles.$small;
    padding: styles.$large;
  }
}
