@use 'styles' as styles;

.navigation-menu-item {
  display: flex;
  align-items: center;
  gap: styles.$medium;
  padding: styles.$medium;
  margin: styles.$extra-small 0;
  color: styles.$text-muted;
  border-radius: styles.$radius-medium;
  font-size: styles.$size-regular;
  font-weight: 600;
  transition: 0.2s;
}
.navigation-menu-item:hover,
.navigation-menu-item.active {
  color: styles.$primary;
  background: styles.$primary-soft;
}
