@use '../../../styles/colors' as colors;
@use '../../../styles/radius' as radius;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/typography' as typography;

.navigation-menu-item {
  display: flex;
  align-items: center;
  gap: spacing.$medium;
  padding: spacing.$medium;
  margin: spacing.$extra-small 0;
  color: colors.$text-muted;
  border-radius: radius.$medium;
  font-size: typography.$size-regular;
  font-weight: 600;
  transition: 0.2s;
}
.navigation-menu-item:hover,
.navigation-menu-item.active {
  color: colors.$primary;
  background: colors.$primary-soft;
}
