$primary: #6559ee;
$primary-light: #e9e7ff;
$primary-soft: #f1efff;
$background: #f7f8fc;
$surface: #fff;
$surface-muted: #f2f2f7;
$text: #20222b;
$text-dark: #292b38;
$text-muted: #858797;
$text-soft: #989aa8;
$border: #ededf4;
$border-input: #e2e2eb;
$border-soft: #e4e4ed;
$text-secondary: #555767;
$positive: #16a267;
$positive-background: #e0f8ec;
$negative: #ed6e77;
$food-background: #fff1df;
$balance-start: #6559ee;
$balance-end: #8479fa;
$balance-variation: #c4ffdc;
$overlay: rgba(28, 28, 42, 0.4);
